<h3>Welcome</h3>

<form action="/visitors/receive" method="get" accept-charset="utf-8">
    Enter your Sentence here : 
<input type="text" name="random_string" id="" value="" />
<input type="submit" name="" id="" value="Let's Go!" class="button" />
</form>
