<h3>Welcome</h3>

<ul>
    <li>First we will correct the spellings if there are mistakes</li>
    <li>Then we shall predict subsequent words</li>
    <li><a href="http://cybersecurity.cit.purduecal.edu/content/dl/master_corpus.txt">Click here to view the corpus of words.</a></li>
</ul>
<form action="/visitors/receive" method="get" accept-charset="utf-8">
    Enter your Sentence here : 
<input type="text" name="random_string" id="" value="" />
<input type="submit" name="" id="" value="Let's Go!" class="button" />
</form>
 
<div class="panel"> 
    <h3>Some Sample Strings to try</h3>
    <ul>
        <li>wati i remmber</li>
        <li>mail gt hcked </li>
        <li>you stil loking for a house</li>
        <li>I forgt to call</li>
    </ul>
</div>
