<h3>The inputted string was</h3>
<p><%= @random %></p>

<h3>Corrected String</h3>
<p><%= @corrected %></p>

<h3>Predicted Strings</h3>
<% @predicted.each do |k,v| %>
    <p><%= @corrected+" "+k + "   |   Prob = #{v}"  %></p>
<% end %>
